<!DOCTYPE html>
<html>
<head>
	<title>Agency website template design</title>
	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>
     <section id="nav-bar">
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="images/logo image2.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#top">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#services">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#About-us">ABOUT US</a>
      <li class="nav-item">
        <a class="nav-link" href="#testimonials">TESTIMONIALS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer">CONTACT</a>
      </li>
    </ul>
  </div>
</nav>
     </section>
 <!--------------------------------banner section--------------------------------------------------------------->
     <section id="banner">
     	<div class="container">
     		<div class="row">
     			<div class="col-md-6">
     				<h4>BEST DEGITAL AGENCY</h4>
     				<p>In simple terms, a Digital Agency is an advertising agency that has evolved to meet the changing needs of marketing in the digital age. Digital Agencies bring graphic design and copywriting together with new technology and modern marketing techniques.</p>
     				<a href="#"><img src="images/play-button.png" class="play-btn">watch more</a>
     			</div>
     			<div class="col-md-6 text-center">
     				<img src="images/ccc.png" class="img-fluid">
     			</div>
     		</div>
     	</div>
     <img src="images/wave4.png" class="buttom-img">
     </section>
 <!-------------------------------------------services section------------------------------------------------------------------------------->
    <section id="services">
      <div class="container text-center">
      	<h1 class="title">WHAT WE DO ?</h1>
      	<div class="row text-center">
      		<div class="col-md-4 services">
              <img src="images/service1.png" class="service-img">
              <h4>Growth Marketing</h4>
              <p>In simple terms, a Digital Agency is an advertising agency that has evolved to meet the changing needs of marketing in the digital age. Digital Agencies bring graphic design and copywriting together with new technology and modern marketing techniques.</p>
      		</div>
      		<div class="col-md-4 services">
              <img src="images/service2.png" class="service-img">
              <h4>Online Branding</h4>
              <p>In simple terms, a Digital Agency is an advertising agency that has evolved to meet the changing needs of marketing in the digital age. Digital Agencies bring graphic design and copywriting together with new technology and modern marketing techniques.</p>
      		</div>
      		<div class="col-md-4 services">
              <img src="images/service3.png" class="service-img">
              <h4>Animated ads</h4>
              <p>In simple terms, a Digital Agency is an advertising agency that has evolved to meet the changing needs of marketing in the digital age. Digital Agencies bring graphic design and copywriting together with new technology and modern marketing techniques.</p>
      		</div>
      	</div>
      	<button type="button" class="btn btn-primary">All Services</button>
      </div>   	
    </section>
  <!---------------------------------About us --------------------------------------------------------------------->
     <section id="About-us">
     	<div class="container">
     		<h1 class="title text-center">WHY CHOOSEN US ?</h1>
     		<div class="row">
     			<div class="col-md-6 About-us">
     				<h2>Why we're different ?</h2>
     				<ul>
     					<li>Believe in doing business with honesty</li>
     					<li>Believe in doing business with honesty</li>
     					<li>Believe in doing business with honesty</li>
     					<li>Believe in doing business with honesty</li>
     					<li>Believe in doing business with honesty</li>
     					<li>Believe in doing business with honesty</li>
     				</ul>
     			</div>
     		<div class="col-md-6">
     			<img src="images/why different1.png" class="img-fluid">
     		</div>
     		</div>
     	</div>
     </section>
 <!--------------------------------- Testimonials------------------------------------------------------------->
    <section id="testimonials">
    	<div class="container">
    	    <h1 class="title text-center">WHAT CLIENTS SAY </h1>
    	    <div class="row offset-1">
    	    	<div class="col-md-5">
    	    		<p>In simple terms, a Digital Agency is an advertising agency that has evolved to meet the changing needs of marketing in the digital age. Digital Agencies bring graphic design and copywriting together with new technology and modern marketing techniques.</p>
    	    		<img src="images/user1.png">
    	    		<p class="user-details"><b>Neel</b><br> co-founder at xyz</p>
    	    	</div>
    	    	<div class="col-md-5">
    	    		<p>In simple terms, a Digital Agency is an advertising agency that has evolved to meet the changing needs of marketing in the digital age. Digital Agencies bring graphic design and copywriting together with new technology and modern marketing techniques.</p>
    	    		<img src="images/user2.png">
    	    		<p class="user-details"><b>Nikita</b><br> Director at xyz</p>
    	    	</div>
    	    </div>	
    	</div>
    </section>
 <!-----------------------------------Social Meadia Section---------------------------------------------------------------------------->
    <section id="social-meadia">
    	<div class="container text-center">
    		<p>FIND US ON SOCIAL MEDIA</p>
    		<div class="social-icons">
    			<a href="#"><img src="images/facebook.png"></a>
    			<a href="#"><img src="images/instagram.png"></a>
    			<a href="#"><img src="images/twiter.png"></a>
    			<a href="#"><img src="images/whatsapp.png"></a>
    			<a href="#"><img src="images/snapchat.png"></a>
    		</div>
    	</div>
    </section>
 <!-----------------------------------footer Section---------------------------------------------------------------------------->
    <section id="footer">
    	<img src="images/wave0.png" class="footer-img">
    	<div class="container">
    		<div class="row">
    			<div class=" col-md-4 fotter-box">
    				<img src="images/logo image2.png">
    				<p>In simple terms, a Digital Agency is an advertising agency that has evolved to meet the changing needs of marketing in the digital age. Digital Agencies bring graphic design and copywriting together with new technology and modern marketing techniques.</p>
    			</div>
    				<div class=" col-md-4 fotter-box">
    					<p><b>CONTACT US</b></p>
    					<p><i class="fa fa-map-marker"></i>THE NEOTIA UNIVERSITY,kolkata</p>
    					<p><i class="fa fa-phone"></i>+91 8910640732</p>
    					<p><i class="fa fa-envelope-o"></i>nikitajha0502@gmail.com</p>
    				</div>
    				<div class=" col-md-4 fotter-box">
    					<p><b>SUBSCRIBE NEWSLATTER</b></p>
    					<input type="email" class="form-control" placeholder="Your Email">
    					<button type="button" class="btn btn-primary">Subscribe</button>
    				</div>
    		</div>
    		</div>
    		<hr>
    		<p class="copyright">Website Crafted by Nikita Jha</p>
    	</div>
    </section>
 </body>
</html>